@font-face {
  font-family: MontserratMedium;
  src: url("../../fonts/MontserratAlternates-Medium.ttf");
}
#contato {
  font-family: MontserratMedium;

  display: flex;
  background-color: #1416ed;
  color: white !important;
  padding: 50px 0px 20px 0px;
  .itemFooter {
    padding-bottom: 50px;
    .iconesFooter {
      width: 25px;
      margin-right: 15px;
    }
    .logoFooter {
      width: 100%;
    }
    .infoContatoFooter {
      a {
        margin-bottom: 10px;
      }
    }
    .redesSociais {
      display: flex;
    }
    .menuFooter {
      text-align: center;
    }
  }
  .direitosAutorais {
    .textoDireitos {
      font-size: 13px;
    }
  }
  .tytotech {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .versao {
      display: flex;
      margin-left: 5px;
      font-size: 10px;
    }
  }
}

@media (max-width: 991.98px) {
  #contato {
    .itemFooter {
      margin-bottom: 30px;
      align-items: center;
      text-align: center;
      .redesSociais {
        justify-content: center;
      }
    }
    .Links {
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
    .direitosAutorais {
      .textoDireitos {
        font-size: 12px;
        text-align: center;
      }
    }
    .tytotech {
      display: flex;
      justify-content: center;
    }
  }
}
