@font-face {
  font-family: MontserratSemiBold;
  src: url("../../fonts/MontserratAlternates-SemiBold.ttf");
  font-family: MontserratMedium;
  src: url("../../fonts/MontserratAlternates-Medium.ttf");
}

#quemPassouAqui {
  background-color: #e154c0;
  padding: 50px 0;

 
  
}

@media (max-width: 991.98px) {
  #quemPassouAqui {

    display: flex;
   
    .row{
      display: flex;
      place-content: center;
    }
    .nbr{
      background-color: green;
    }
  }
}
