@font-face {
  font-family: MontserratSemiBold;
  src: url("../../fonts/MontserratAlternates-SemiBold.ttf");
  font-family: MontserratMedium;
  src: url("../../fonts/MontserratAlternates-Medium.ttf");
}

#quemPassouAqui {
  padding: 50px 0;

 
  
}

@media (max-width: 991.98px) {
  #quemPassouAqui {

    background-color: #C4C6D3;
    display: flex;
    place-content: end;
    .logo {
      align-items: right;
      height: 50px;
      width: 100px;
      margin-bottom: 10px;
    }
   }
    .row{
      display: flex;
      place-content: center;
      .cartao{
        background-color: #C4C6D3;
      }
    }
    .nbr{
      background-color: green;
    }
  
}
