@font-face {
  font-family: MontserratRegular;
  src: url("../../fonts/MontserratAlternates-Regular.ttf");
}
#spaceApps {
  font-family: MontserratRegular;

  padding: 50px 0;
  background-color: #1416ed;
  text-align: left;

  .imgColuna {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .descricaoColuna {
    display: flex;
    align-items: center;
    p {
      font-size: 20px;
      color: #fff;
      img {
        width: 80%;
      }
    }
  }
}
@media (max-width: 991.98px) {
  #spaceApps {
    .logoSpaceApps {
      margin-bottom: 30px;
    }
    .descricaoColuna {
      .imgApoia {
        width: 100%;
      }
    }
  }
}
