@font-face {
  font-family: MontserratMedium;
  src: url("../../fonts/MontserratAlternates-Medium.ttf");
}

#SessaoApoiadores {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: MontserratMedium;

  text-align: center;

  .textRealizacao {
    font-size: 20px;
    color: #1416ed;
    padding-bottom: 40px;
  }

  .col-md-auto {
    align-self: center;
  }
}

@media (max-width: 992px) { 
  .col-md-auto {
    padding-top: 30px;
  }
}