#SessaoBanner {
  overflow-x: hidden;
  overflow-y: visible;
  background-color: #1416ed;
  height: 100vh;
  display: flex;
  align-items: center;

  .imagemLogo {
    text-align: center;
  }
  .iconeMouse {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 991.98px) {
  #SessaoBanner {
    .imagemLogo {
      img {
        width: 100%;
      }
    }
  }
}
