<div className="container-fluid">

    <div className="container">
      <a href="" className="navbar-brand">
        <span className="img-logo">EW2022</span>
      </a>

      <div className="navbar-header">
        <ul className="navbar">
          <li><a href="">o evento</a></li>
          <li className="divisor" role="separator"></li>
          <li><a href="">quem já passou aqui</a></li>
          <li className="divisor" role="separator"></li>
          <li><a href="">nasa space apps</a></li>
          <li className="divisor" role="separator"></li>
          <li><a href="">contato</a></li>
        </ul>
      </div>

    </div>

    <div className="panel-body">
      <div className="col-md-8">
      <img src="src/images/img-banner.png" className="img-responsive"/>
      </div>
    </div>

  </div>